*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#nevbar{
    background-color:rgb(1, 1, 61);
    height:65px;
    width:auto;
    display:flex;
    justify-content:space-between;
    padding:20px;
}

#logo{
    color:aliceblue;
    font-size:25px;
}

.nev-menu a{
    text-decoration:none;
    color:aliceblue;
}

.nev-menu a{
    padding:20px;
    font-size:20px;
}

/* background image */
.main-section{
    background-image: url('../images/13311397_v617batch2-kul-05-technology.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    width:auto;
    height:1100px;
    padding:148px ;
}

.heading{
    font-size:20px;
    color:aliceblue;
    margin-bottom:10px;
}

.heading h1{
    margin-bottom:30px;
    word-spacing:5px;
    line-height:60px;
    letter-spacing:2px;
}

.fposition{
    display:flex;
    justify-content:flex-end;
}

.form{
    background-color:aliceblue;
    width:300px;
    height:357px;
    text-align:center;
    padding:25px;
    box-shadow:0 5px 20px gray;
    border-radius:5px;
}

.login{
    color:darkcyan;
    margin:0 0 7px 0;
}

.type{
    width:250px;
    padding:15px 10px;
    margin: 7px 0;
    border-radius: 5px;
}

.fposition a{
    text-decoration:none;
    font-size:18px;
    border-bottom:1.5px solid black;
    margin:7px 0;
    display:inline-block;
    padding:15px;
    color:darkcyan;
}

.btn{
    border:none;
    text-align:center;
    padding:7px;
    font-size:17px;
    margin:7px 0;
    width:110px;
    background-color:darkcyan;
    color:aliceblue;
    border-radius: 5px;
    cursor:pointer;
}